<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Phone numbers for all taxi companies in Macedonia,
  Телефонски броеви на сите такси компании во Македонија">
  <meta name="keywords" content="такси компании, телефонски броеви, такси број, Македонија, такси" />
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

  <title>TaxiMK | Броеви на сите такси компании во Македонија</title>

  <link href="/d/style.css?rev=bec65e686ae501c35b431276e81e8d3d" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-app="taximk" ng-cloak class="ng-cloak">

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="Main as main">
  <div class="container-fluid">
    <div class="navbar-header">
      <a data-toggle="offcanvas" class="menu-button visible-xs">
        <i class="fa fa-fw fa-chevron-left expand-btn"></i>
      </a>
      <a class="navbar-brand" ui-sref="index">
        <img src="/images/icon.png" alt="Icon" title="{{ main.version.number}} {{ main.version.rev }}"/>
        <h1 title="Броеви на сите такси компании во Македонија">TaxiMK</h1>
      </a>
    </div>
  </div>
</div>
<!--/.navbar -->

<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
    <div class="" ng-controller="Places as places">
      <!-- <h3>{{ 'taxi.places' | translate }}</h3> -->
      <div id="place-search">
        <input type="text" ng-model="search_place" placeholder="Пребарај место..."
               class="form-control search"/>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="p in places.places | orderBy: 'name' | filter:search_place" class="place-item">
          <a ui-sref="taxi({ placeId : p.id, slug : p.slug })" class="place">{{ p.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div autoscroll="true" class="main-container">
      <ui-view></ui-view>
    </div>
  </div>
</div>
<!--/row-offcanvas -->

<script src="/d/lib.js?rev=a3510f062887e18a5ddfebb9361fe570" type="text/javascript"></script>
<script src="/d/app.js?rev=75b7de717b2175770c0f3ee2b92a7894" type="text/javascript"></script>
<script src="/d/templates.js?rev=21fd3f3548b250d870ca884c6874bf3f" type="text/javascript"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66649474-1', 'auto');
  //ga('send', 'pageview');

</script>
</body>

</html>
